.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  .keyboard-toggle {
    top: -52px;
    position: absolute;
    right: 0;
  }

  .keyboard-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;

    &.on-screen {
      top: 0;
    }
  }
}
